WindowsFormsApp2/WindowsFormsApp2/obj/Debug/WindowsFormsApp2.csprojAssemblyReference.cache
WindowsFormsApp2/.vs/WindowsFormsApp2/v16/.suo
WindowsFormsApp2/WindowsFormsApp2/bin/Debug/DBconfig.txt
*.txt
