WindowsFormsApp2/WindowsFormsApp2/obj/Debug/WindowsFormsApp2.csprojAssemblyReference.cache
WindowsFormsApp2/.vs/WindowsFormsApp2/v16/.suo
WindowsFormsApp2/WindowsFormsApp2/bin/Debug/DBconfig.txt
*.txt
*.dll
WindowsFormsApp2/BUS/bin/Debug/BUS.pdb
WindowsFormsApp2/BUS/bin/Debug/DAO.dll.config
WindowsFormsApp2/BUS/bin/Debug/DAO.pdb
WindowsFormsApp2/BUS/bin/Debug/DTO.pdb
*.CopyComplete
*.cache
WindowsFormsApp2/BUS/obj/Debug/BUS.pdb
*.pdb
*.resources
*.exe
*.dll~91d82c6f6ec7302fb9c676f9f55292618fc6471f_0
*.pdb~91d82c6f6ec7302fb9c676f9f55292618fc6471f_0
*.exe~91d82c6f6ec7302fb9c676f9f55292618fc6471f_0
*.cache~91d82c6f6ec7302fb9c676f9f55292618fc6471f_0
